/* InputField.css */

#input-field {
    margin: 10px 0;
    width: 100%;
    position: relative;
  }
  
  #input-field input {
    width: 100%;
    padding: 10px 0px 10px 40px;
    margin: 5px auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #6C727F;
    color: white;
  }
  
  #input-field input::placeholder {
    color: #a1a1a1;
    transform: translateY(1px);
  }
  
  #input-field .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  