html, body {
  height: 100%; /* Ensure the html and body elements occupy the full height */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #cad3f0, #e9ebf1) !important;
}

#register-page {
  width: 100%;
  min-height: 100vh; /* Ensure the page container takes up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box; /* Include padding and borders in width/height calculations */
}

#register-page .register-form {
  width: 120%;
  max-width: 550px;
  padding: 2rem;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

#register-page h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #6dd5fa;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

#register-page .text-center {
  text-align: center;
}

#register-page .input-icon {
  width: 22px;
  margin-right: 12px;
  vertical-align: middle;
}

#register-page .form-group {
  margin-bottom: 1.2rem;
}

#register-page .form-group label {
  display: flex;
  align-items: center;
  width: 100%;
  color: #ecf0f1;
  font-size: 14px;
}

#register-page .form-control {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  transition: border-color 0.3s;
}

#register-page .form-control:focus {
  border-color: #3498db;
  outline: none;
}

#register-page .header {
  margin-bottom: 15px;
  color: #000000;
  font-size: 2.2em;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#register-page .btn-primary {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 50px;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#register-page .btn-primary:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}
